nav {
  display: flex;
  align-items: center;
  padding: 20px;
}
a {
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}
.active {
  box-sizing: border-box;
  border-radius: 6px;
  background-color: darkorange;
  padding: 10px 20px;
  color: white;
}
